@import '../css/global.css';



.cervejas {
   max-width: 100%;
        
}

/*-------------------LAGER---------------*/
.lager {
    display: flex;
    margin: 140px 30px 0;
   
    border-radius: 50px;
    background-color: white;

}

.garrafa-lager img {
    margin-top: 20px;
    width: 160px;
    margin-left: 90px;
}

.copo-lager img {
    width: 130px;
    margin-top: 16rem;
    margin-left: 20px;

}
 
.titulo-lager img {
    width: 350px;
    margin-top: 40px;
    margin-left: 0px;
    background-color: rgb(235, 206, 42);
    padding: 5px 90px 2px 20px;
    border-radius: 50px;
    height: 80px;

}
.chamada-lager {
    font-size: 25px;
    font-style: italic;
    font-family: lato;
    margin-top: 10px;
    margin-left: 40px;
}
.texto-lager {
    color: white;
    font-family: lato;
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
    margin-top: 30px;
    margin-left: 80px;
    background-color: rgb(68, 67, 70);
    padding: 20px 50px 20px 50px;
    border-radius: 30px;
    
}



/*-------------------APA---------------*/

.apa {
    display: flex;
    margin: 30px 30px 0;
    border-radius: 50px;
    background-color: white;
}

.garrafa-apa img {
    margin-top: 20px;
    width: 160px;
    margin-left: 90px;
}

.copo-apa img {
    width: 130px;
    margin-top: 16rem;
    margin-left: 20px;

}

.titulo-apa img {
        width: 350px;
        margin-top: 40px;
        margin-left: 0px;
        background-color: rgb(235, 129, 42);
        padding: 5px 90px 2px 20px;
        border-radius: 50px ;

}

.chamada-apa {
    font-size: 25px;
    font-style: italic;
    font-family: lato;
    margin-top: 10px;
    margin-left: 40px;
}
.texto-apa {
    color: white;
    font-family: lato;
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
    margin-top: 40px;
    margin-left: 80px;
    background-color: rgb(68, 67, 70);
    padding: 20px 50px 20px 50px;
    border-radius: 30px;
}

@media (max-width: 1300px){
    
    .cervejas { 
       flex-direction: column;
       max-width: 100%;
      
    }
    .lager{
        margin: 120px 0 0 0;
        border-radius: 0px;
    }
    .garrafa-lager img{
        margin-left: 0px;
    }
    .info-lager {
     flex-direction: column;
     width: 100%;   
    }
    .titulo-lager img {
        width: 180px;
        height: auto;
        margin: 40px 0px 0 -160px;
        padding: 5px 20px 2px 20px;
    }
    .chamada-lager {
        margin-top: 10px;
        margin-left: -160px;
        
        font-size: 16px;
    }
    .texto-lager {
        border-radius: 0;
        padding: 10px 10px 10px 20px;
        margin-top: 420px;
        margin-left: -310px;
        font-size: 16px;
    }


    .apa{
        margin: 30px 0 0 0;
        border-radius: 0px;
    }
    .garrafa-apa img{
        margin-left: 0px;
    }
    .info-apa {
     flex-direction: column;
     width: 100%;   
    }
    .info-lager {
        flex-direction: column;
        width: 100%;   
    }
    .titulo-apa img {
        width: 180px;
        height: auto;
        margin: 40px 0px 0 -160px;
        padding: 5px 20px 2px 20px;
    }
    .chamada-apa {
        margin-top: 10px;
        margin-left: -160px;
        
        font-size: 16px;
    }
    .texto-apa {
        border-radius: 0;
        padding: 10px 10px 10px 20px;
        margin-top: 420px;
        margin-left: -310px;
        font-size: 16px;
    }


}
