@import '../css/global.css';



.cervejas {
   max-width: 100%;
        
}

/*-------------------LAGER---------------*/
.lager {
    display: flex;
    margin: 120px 30px 0;
    border-radius: 50px;
    background-color: white;
}

.garrafa-lager img {
    margin-top: 20px;
    width: 110px;
    margin-left: 90px;
}

.copo-lager img {
    width: 110px;
    margin-top: 11rem;
    margin-left: 20px;
}
 
.titulo-lager img {
    width: 350px;
    margin-top: 20px;
    margin-left: 0px;
    background-color: rgb(243, 65, 94);
    padding: 5px 90px 2px 60px;
    border-radius: 50px;
    height: 70px;
}
.chamada-lager {
    font-size: 25px;
    font-style: italic;
    font-family: lato;
    margin-left: 40px;
}
.texto-lager {
    color: white;
    font-family: lato;
    font-style: italic;
    font-size: 25px;
    letter-spacing: 1.5px;
    margin-top: 15px;
    margin-left: 50px;
    background-color: rgb(68, 67, 70);
    padding: 10px 50px 10px 50px;
    border-radius: 30px;
}



/*-------------------APA---------------*/

.apa {
    display: flex;
    margin: 20px 30px 0;
    border-radius: 50px;
    background-color: white;
}

.garrafa-apa img {
    margin-top: 20px;
    width: 110px;
    margin-left: 90px;
}

.copo-apa img {
    width: 110px;
    margin-top: 11rem;
    margin-left: 20px;
}

.titulo-apa img {
    width: 350px;
    margin-top: 20px;
    margin-left: 0px;
    background-color: rgb(93, 211, 185);
    padding: 5px 90px 2px 60px;
    border-radius: 50px;
    height: 70px;
}

.chamada-apa {
    font-size: 25px;
    font-style: italic;
    font-family: lato;
    margin-left: 40px;
}
.texto-apa {
    color: white;
    font-family: lato;
    font-style: italic;
    font-size: 25px;
    letter-spacing: 1.5px;
    margin-top: 20px;
    margin-left: 50px;
    background-color: rgb(68, 67, 70);
    padding: 10px 50px 10px 50px;
    border-radius: 30px 0 30px 30px;
}

@media (max-width: 1300px){
    .cervejas {
      max-width: 100%;  
      flex-direction: column;
             
     }
    
    .lager {
        display: flex;
        width: 100%;
        margin-top: 120px;
        margin-left: 0;
        border-radius: 0;
        background-color: white;
    }
    
    .garrafa-lager img {
        margin-top: 20px;
        width: 70px;
        margin-left: 30px;
    }
    
    .copo-lager img {
        width: 60px;
        margin-top: 8.7rem;
        margin-left: 20px;
    }
     
    .titulo-lager img {
        width: 180px;
        margin-top: 20px;
        margin-left: -60px;
        background-color: rgb(243, 65, 94);
        padding: 2px 30px 2px 30px;
        border-radius: 50px;
        height: 40px;
    }
    .chamada-lager {
        font-size: 15px;
        font-style: italic;
        font-family: lato;
        margin-left: -50px;
    }
    .texto-lager {
        width:100%¨;
        color: rgb(0, 0, 0);
        font-family: lato;
        font-style: italic;
        font-size: 15px;
        letter-spacing: 1.5px;
        margin-top: 145px;
        margin-left: -11.2rem;
        background-color: rgb(255, 255, 255);
        padding: 5px 10px 15px 15px;
        border-radius: 0;
    }
    
    
    
    /*-------------------APA---------------*/
    
    .apa {
        display: flex;
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
        border-radius: 0;
        background-color: white;
    }
    
    .garrafa-apa img {
        margin-top: 20px;
        width: 70px;
        margin-left: 30px;
    }
    
    .copo-apa img {
        width: 60px;
        margin-top: 8.5rem;
        margin-left: 20px;
    }
    
    .titulo-apa img {
        width: 180px;
        margin-top: 20px;
        margin-left: -60px;
        background-color: rgb(136, 165, 244);
        padding: 2px 30px 2px 30px;
        border-radius: 50px;
        height: 40px;
    }
    
    .chamada-apa {
        font-size: 15px;
        font-style: italic;
        font-family: lato;
        margin-left: -50px;
    }
    .texto-apa {
        width:100%¨;
        color: rgb(0, 0, 0);
        font-family: lato;
        font-style: italic;
        font-size: 15px;
        letter-spacing: 1.5px;
        margin-top: 145px;
        margin-left: -11.2rem;
        background-color: rgb(255, 255, 255);
        padding: 5px 10px 15px 15px;
        border-radius: 0;
    }
}
