@import '../css/global.css';

.contato-dogtown {
    flex-direction: column;
    justify-items: center;   
    background-color: white;
    margin-top: 5vw;
    padding: 2vw;
    font-family: lato;
    font-size: 1.5vw;
}

@media (max-width: 768px) {
    .contato-dogtown img {
        width: 30vw
    }
    .contato-dogtown {
        margin-top: 25vw;
        font-size: 4vw;
        padding: 7vw;
    }
}