@import '../css/global.css';


/*-------------------------------------Principal---------------------------------------*/


.capa img {
    width: 100%;
}

.cervejas {
    display: flex;
    margin: 20px;
    gap:20px;
}

.lager {
    width: 50%;
    display: flex;
    height: 250px;
    border-radius: 50px;
    background-color: white;

}

.garrafa-lager img {
    margin-top: 0px;
    width: 80px;
    margin-left: 70px;
}

.copo-lager img {
    width: 75px;
    margin-top: 7rem;
    margin-left: 20px;

}
 
.titulo-lager img {
    width: 250px;
    margin-top: 20px;
    margin-left: -30px;
    background-color: rgb(235, 206, 42);
    padding: 5px 20px 2px 20px;
    border-radius: 50px;
}
.chamada-lager {
    margin-top: 20px;
    margin-left: 20px;
    font-family: lato;
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
}
/*-------------------APA---------------*/

.apa {
    width: 50%;
    display: flex;
    height: 250px;
    border-radius: 50px;
    background-color: white;

}

.garrafa-apa img {
    margin-top: 0px;
    width: 80px;
    margin-left: 70px;
}

.copo-apa img {
    width: 75px;
    margin-top: 7rem;
    margin-left: 20px;

}
 
.titulo-apa img {
    width: 250px;
    margin-top: 20px;
    margin-left: -30px;
    background-color: rgb(235, 129, 42);
    padding: 5px 20px 2px 20px;
    border-radius: 50px;
}   

.chamada-apa {
    margin-top: 20px;
    margin-left: 20px;
    padding-right: 20px;
    font-family: lato;
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
}

@media (max-width: 1300px){
    .capa {
        margin-top: 120px;
    }
    .cervejas {
       flex-direction: column;
       margin: 0px;
         
    }
    .lager{
        width: 100%;
        border-radius: 0px;
    }
    .garrafa-lager {
        margin-left: -50px;
    }
    .titulo-lager {
        width: 50px;
    }


    .apa{
    width: 100%;
    border-radius: 0px;
    }
    .garrafa-apa {
        margin-left: -50px;
    }
    .chamada-apa {
        padding:0px;
    }

}
